/* FONTES */

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.grid {
    width: 90%;
    max-width: 1200px;

    margin: 0 auto;
}




/* HEADER */

header {
    height: 80px;
    width: 100%;

    position: fixed;
    top: 0;
    z-index: 2;
    
    background-color: #1E1C21;
}

.container_header {
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 230px;
}

.nav_header {
    width: 65%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
}

.nav_header a {
    color: white;
}

/* BANNER */

.banner {
    display: flex;
    justify-content: space-around;
    
    background: linear-gradient(86.53deg, #33467C 0%, #33467C 41.44%, #010000 59.72%, #000000 97.5%);
    
    height: 632px;
    
    margin-top: 80px;
}

#img_capa {
    width: 634px;
}

.container_banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_banner {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.box_banner h1 {
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 110px;

    color: white;
}

.btn_banner {
    margin-top: 67px;
}

.box_banner span {
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 35px;

    color: white;
}


.btn_inscreva_se {
    width: 240px;
    height: 60px;

    border-radius: 13px;
    border: none;

    background-color: #001AFF;

    cursor: pointer;

    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 38px;
    text-transform: uppercase;

    color: white;
}

.btn_inscreva_se:hover {
    background-color: #0003c7;
}

/* JOGOS */

.jogos {
    height: 120px;

    background-color: #020202;
}

.container_jogos {
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* COMO PARTICIPAR */

.como_participar {
    height: 544px;

    background-image: url(../assets/como_participar_fundo.png);
    background-color: black;

    background-size: cover;

    position: relative; 
}

.ez_img {
    position: absolute;

    top: -4px;
    right: 80px;
    z-index: 1;
}

.inclinado {
    clip-path: polygon(0 18%, 100% 0, 100% 84%, 0 100%);
    
    background-color: black;

    height: 100%;

    display: flex;
    align-items: center;

    
}

.container_como_participar {
    height: 68%;
}

.container_como_participar h2 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 38px;
    line-height: 58px;

    color: white;
}

.container_como_participar p {
    width: 40vw;

    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    line-height: 30px;

    margin: 2% 0;

    color: white;
}


/* AO VIVO */

.ao_vivo {
    height: 120px;

    background-color: #020202;

}

.container_ao_vivo {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.span_ao_vivo {
    width: 30px;

    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 31px;
    text-transform: uppercase;

    color: white;
}

.times_ao_vivo {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 240px;
}

.vs_ao_vivo {
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;

    color: white;
}

hr {
    display: flex;
    flex-direction: column;

    height: 80px;

    border: 2px solid #FFFFFF;
}

.span_em_breve {
    width: 91px;

    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 31px;
    text-transform: uppercase;

    color: white;
}

/* NOTICIAS E PROXIMOS JOGOS */

/* NOTICIAS */

.noticias_proximos_jogos {
}

.flex {
    display: flex;
}

.space_btw {
    display: flex;
    justify-content: space-between;
}

.noticias {
    display: flex;
    flex-direction: column;

    width: 60vw;
}

.posicionador_noticias {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.noticias_proximos_jogos {
    height: 976px;

    display: flex;

    background-color: #1E1C21;
}

.noticias h2 {
    margin-top: 30px;

    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 46px;
    text-transform: uppercase;

    color: white;
}

.box_noticia {
    margin-top: 20px;
    margin-bottom: 69px;

    width: 211px;
    height: 351px;

    background: linear-gradient(180deg, #2B2B2B 0%, #2B2B2B 66.67%, #000000 100%);

    box-shadow: -5px 4px 20px rgba(0, 0, 0, 0.7), 5px 4px 20px 2px rgba(0, 0, 0, 0.7);

}

.box_noticia h3 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;

    color: white;

    padding-left: 12px;
    
}

.box_noticia p {
    width: 199px;

    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    line-height: 24px;

    color: white;

    padding-left: 12px;

}

/* PROXIMOS JOGOS */

.proximos_jogos {
    margin-top: 30px;

}

.proximos_jogos h2 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 46px;

    color: white;

    margin-bottom: 20px;
}

.jogos_noticias {
    width: 284px;
    height: 791px;

    background: linear-gradient(180deg, #000000 0%, #2F2F2F 28.65%, #2F2F2F 71.87%, #000000 100%);
    box-shadow: -5px 4px 20px rgba(0, 0, 0, 0.7), 5px 4px 20px 2px rgba(0, 0, 0, 0.7);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.box_proximos_jogos {
    width: 70%;

    margin-top: 50px;
    margin-bottom: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.data_proximos_jogos {
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 18px;

    color: white;
}

/* FOOTER */

.footer {
    height: 293px;

    background-color: #010101;
}

.box_footer {
    display: flex;
    
}

.span_grande_footer {
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 46px;

    color: white;
}

.lista_footer li {
    color: white;
}

.lista_footer li::marker {
    font-size: 30px;
}

.lista_footer li a {
    font-family: 'Roboto', sans-serif;

    color: white;
}

.newsletter_escrita {
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    
    color: #FFFFFF;
}

.siga_nos {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    
    color: #FFFFFF;
}