/* FONTES */

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');


/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.grid {
    width: 90%;
    max-width: 1200px;

    margin: 0 auto;
}




/* HEADER */

header {
    height: 80px;
    width: 100%;

    position: fixed;
    top: 0;
    z-index: 1;
    
    background-color: #1E1C21;
}

.container_header {
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 230px;
}

.nav_header {
    width: 65%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
}

.nav_header a {
    color: white;
}

/* BANNER */

.banner {
    display: flex;
    justify-content: space-around;
    
    background: linear-gradient(86.53deg, #33467C 0%, #33467C 41.44%, #010000 59.72%, #000000 97.5%);
    
    height: 632px;
    
    margin-top: 80px;
}

#img_capa {
    width: 634px;
}

.container_banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_banner {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.box_banner h1 {
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 110px;

    color: white;
}

.box_banner span {
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 35px;

    color: white;
}


.btn_inscreva_se {
    width: 240px;
    height: 60px;

    border-radius: 13px;
    border: none;

    background-color: #001AFF;

    cursor: pointer;

    margin-top: 67px;

    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 38px;
    text-transform: uppercase;

    color: white;
}

.btn_inscreva_se:hover {
    background-color: #1100ff;
}

/* JOGOS */

.jogos {
    background-color: #020202;

    height: 120px;
}

.container_jogos {
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* COMO PARTICIPAR */

.como_participar {
    height: 544px;

    background-image: url(../assets/como_participar_fundo.png);
    background-color: black;

    background-size: cover;

}

.inclinado {
    clip-path: polygon(0 18%, 100% 0, 100% 84%, 0 100%);

    background-color: black;

    height: 100%;

    display: flex;
    align-items: center;
}

.container_como_participar {
    height: 68%;
}

.container_como_participar h2 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 38px;
    line-height: 58px;

    color: white;
}

.container_como_participar p {
    width: 40vw;

    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    line-height: 30px;

    margin-bottom: 4%;

    color: white;
}