* {
    margin-top: 7px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 0;
    box-sizing: border-box; 
 }
 h1 {
     display: flex;
     flex-wrap: wrap;
 }
 #desctamanho {
     background-color: blue;
 }
 .conteiner_cima {
     display: flex;
     font-size: 10px;
     color: white;
     background-color: black;
     flex-wrap: wrap;
     
 }
.artigos {
    display: flex;
    flex-wrap: wrap;
}
.tamanho_paragrafo {
    width: 300px;
}
h3 {
    width: 250px;
}
.conteiner_aside {

}