* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_titulo {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
    color: #dfe6e9;
    background-color: #2d3436;
}

.container_imagen {
    display: flex;
    justify-content: center;
    background-color: #b2bec3;
}